Hotel Bookings

In [1]:
import pandas as pd
bookings = pd.read_csv(r"C:\Users\vmval\Downloads\hotel_bookings.csv\hotel_bookings.csv")

In [2]:
#checking number of row and columns in the dataset
bookings.shape

(119390, 32)

In [3]:
#checking for datatypes
bookings.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [4]:
bookings.dtypes.value_counts()

int64      16
object     12
float64     4
dtype: int64

In [5]:
bookings.head(7)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03

In [6]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [7]:
#overview of the dataset
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [8]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [9]:
#total average stay in nights by hotel type
bookings.groupby('hotel') \
    .agg({'stays_in_week_nights': 'mean'}). round(2)

              stays_in_week_nights
hotel
City Hotel                    2.18
Resort Hotel                  3.13

In [10]:
successful_bookings_top5 = bookings.query('is_canceled == 0') \
    .groupby('country') \
    .agg({'is_canceled': 'count'}) \
    .sort_values('is_canceled', ascending=False).head() \
    .rename(columns={'is_canceled': 'successful bookings'})


successful_bookings_top5

         successful bookings
country
PRT                    21071
GBR                     9676
FRA                     8481
ESP                     6391
DEU                     6069

In [11]:
#occasions where correct rooms where not assigned
occasions = bookings.query('reserved_room_type != assigned_room_type')\
                    .agg({'reserved_room_type' : 'count'})\
                    .rename({'reserved_room_type': 'occasions'})
occasions

occasions    14917
dtype: int64

In [44]:
for year in [2015, 2016, 2017]:
    max_canceled_month = bookings.query('hotel == "City Hotel" and is_canceled == 1 and arrival_date_year == @year') \
    .groupby(['arrival_date_year', 'arrival_date_month']) \
    .agg({'is_canceled': 'count'}) \
    .idxmax()
    print(f'The majority of bookings cancellations in {year} happend in {max_canceled_month[0][1]}.')

The majority of bookings cancellations in 2015 happend in September.
The majority of bookings cancellations in 2016 happend in October.
The majority of bookings cancellations in 2017 happend in May.

In [57]:
#which column has the biggest mean values children, adults or babies?
bookings[['adults', 'children', 'babies']].mean().idxmax()

'adults'

In [58]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [66]:
#Create a new column 'total_kids' by adding in it the number of children and the number of babies. What hotel type does have the higher number of total_kids value?
bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby(['hotel'], as_index=False)\
.agg({'total_kids' : 'count'})\
.round(2)\
.max()

hotel         Resort Hotel
total_kids           79326
dtype: object

Calculating the Churn Rate of the customers with and without kids.

In [74]:
bookings['has_kids'] = bookings.total_kids

In [84]:
#quering cancelations number of visitors with and without kids
with_kids = bookings.query('has_kids == True and is_canceled == 1')\
            .agg({'is_canceled' : 'count'})
with_no_kids = bookings.query('has_kids == False and is_canceled == 1').is_canceled.value_counts()
(with_kids, with_no_kids)

(is_canceled    1677
 dtype: int64,
 1    40961
 Name: is_canceled, dtype: int64)

In [88]:
canceled_no_kids_int = with_kids
canceled_with_kids_int = with_no_kids
total_bookings_with_kids = len(bookings.query('has_kids == True'))
total_bookings_no_kids = len(bookings.query('has_kids == False'))
total_bookings_with_kids

def churn_rate(total, canceled):
    return (canceled / total) * 100


print(f'Customers having no kids churn rate: {round(churn_rate(total_bookings_no_kids, canceled_no_kids_int), 2)}')
print(f'Customers with kids churn rate: {round(churn_rate(total_bookings_with_kids, canceled_with_kids_int), 2)}')

Customers having no kids churn rate: is_canceled    1.52
dtype: float64
Customers with kids churn rate: 1    752.13
Name: is_canceled, dtype: float64